<div class="col-12 pt-3">
    <!-- Button trigger modal -->
    <button
            type="button"
            class="btn btn-danger btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#modalCenterdellsouscat{{ category.id }}{{ subcategory }}"
    >
        Supprimer
    </button>

    <!-- Modal -->
    <div class="modal fade modalCenter" id="modalCenterdellsouscat{{ category.id }}{{ subcategory }}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalCenterTitle">Suppression de la catégorie</h4>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p>
                            Êtes-vous sûr de vouloir supprimer définitivement la catégorie
                            {{ subcategory }} ainsi que toutes ses sous-catégories ?
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                        Fermer
                    </button><button
                            type="button"
                            class="btn btn-danger modalCenterdellsouscat"
                            id="deletesouscategory{{ category.id }}{{ subcategory }}"
                            data-idcategory="{{ category.id }}"
                            data-name="{{ subcategory }}"
                            data-bs-dismiss="modal"
                    >
                        Supprimer définitivement
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>