<div class="col-12 pt-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenterupdate{{ category.id }}">
        Modifier
    </button>

    <div class="modal fade modalCenter" id="modalCenterupdate{{ category.id }}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalCenterTitle" style="color: {{ category.color }}">modifier le nom : {{ category.name }} ou la couleur</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating form-floating-outline mb-4">
                        <input class="form-control" type="text" placeholder="{{ category.name }}" id="updatecategory-input-{{ category.id }}" />
                        <label for="updatecategory-input-{{ category.id }}">Modification de la catégorie {{ category.name }}</label>
                        <input class="form-control" type="color" id="category-color-{{ category.id }}" value="{{ category.color }}">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary modalupdatecategory" data-idcategory="{{ category.id }}" data-bs-dismiss="modal">Mise à jour</button>
                </div>
            </div>
        </div>
    </div>
</div>